body {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0)
    ),
    url(https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=996&t=st=1701247407~exp=1701248007~hmac=cf93accd698a6a7ed3dc9eb12f0e1ff76ee9fd1cafe1c9113762844fdd51a1a4);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}
